.toast {
	position: absolute;
	top: 5%;
	right: 30px;
	background: #ffffff;
	border-left: 4px solid red;
	padding: 10px 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	z-index: 999;
	border-radius: 0 5px 5px 0;
	transform: translateX(calc(100% + 30px));
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
}

.active {
	transform: translateX(0);
}

.content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
