.calendarWrapper {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.calendarNavigation {
	display: flex;
	margin-bottom: 30px;
}

.navigationWrapper {
	display: flex;
	gap: 10px;
	margin: 0 auto;
	align-items: center;
}

.leftArrow {
	display: block;
	width: 30px;
	height: 30px;
	background: url("../../assets/icons/ic-left-arrow.png") no-repeat;
	background-size: contain;
	cursor: pointer;
}

.rightArrow {
	display: block;
	width: 30px;
	height: 30px;
	background: url("../../assets/icons/ic-right-arrow.png") no-repeat;
	background-size: contain;
	cursor: pointer;
}

.monthYearWrapper {
	width: 200px;
	text-align: center;
}

.calendarHeader {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.calendarBody {
	height: calc(100% - 30px);
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	background-color: #ffffff;
}

.listDay {
	text-align: center;
	color: #ffffff;
	background-color: #000000;
	padding: 8px 0;
}

.dayBox {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: relative;
	overflow: hidden;
	background-color: transparent;
	min-width: 80px;
	min-height: 80px;
	border: 1px solid;
	padding: 5px;
}

.date {
	display: inline-block;
	font-weight: 600;
}

.today {
	background-color: #fff2d8;
}

.noDate {
	border: none;
	cursor: initial;
	border-top: 1px solid black;
	background-color: #cccccc;
}

.eventWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
