.calendar-wrapper {
	width: 100%;
	margin-top: 80px;
}

.calendar-navigation {
	display: flex;
	margin-bottom: 30px;
}

.navigation-wrapper {
	display: flex;
	gap: 40px;
	margin: 0 auto;
	align-items: center;
}

.left-arrow {
	display: block;
	width: 30px;
	height: 30px;
	background: url("../../assets/icons/ic-left-arrow.png") no-repeat;
	background-size: contain;
	cursor: pointer;
}

.right-arrow {
	display: block;
	width: 30px;
	height: 30px;
	background: url("../../assets/icons/ic-right-arrow.png") no-repeat;
	background-size: contain;
	cursor: pointer;
}

.calendar-header {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.calendar-body {
	height: calc(100% - 30px);
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	background-color: #ffffff;
}

.list-day {
	text-align: center;
	color: #ffffff;
	background-color: #000000;
	padding: 8px 0;
}

.date-box {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: relative;
	overflow: hidden;
	background-color: transparent;
	min-width: 80px;
	min-height: 80px;
	border: 1px solid;
	padding: 5px;
}

.date {
	display: inline-block;
	font-weight: 600;
}

.date-box.today {
	background-color: #fff2d8;
}

.no-date {
	border: none;
	cursor: initial;
	border-top: 1px solid black;
	background-color: #cccccc;
}

.event-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
