.eventItem {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	padding: 8px;
	color: #ffffff;
	text-align: start;
	border: none;
	cursor: pointer;
}

.eventTitle {
	font-size: 17px;
	font-weight: 600;
}
